
body {
  background-color: #f6f9fc;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: "Lucida Console", "Courier New", monospace;
}